body{
    margin: 0;
    font-family: 'Macondo', cursive;
    font-family: 'Poppins', sans-serif;
}
.logo img{
    width: 260px;
}
.header-img img{
    width: 500px;
}
.cart-img img{
    width: 25px;
    height: 25px;
    margin-right:4px;
}
.p-card-header{
    background-color:#f2efef;
    border-radius: 15px;
    height: 340px;
    width: 360px;
}
.p-card-header img{
    width: 300px;
}
.p-card-template{
    border:0px !important;
}
.tag{
    color: orange;
}
.footer-banner img{
    width: 80px;
}
.footer-card{
    width: 500px;
}